.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.footer__copyright:hover {
  opacity: 0.8;
}
