.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin-top: 32px;
  }
}
